* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}

.container {
display: flex;
min-height: 100vh;
}


.left-section 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    flex: 1;
    background-image: url('./images/backgroundimage.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    padding: 16px 0;

    background-color: rgba(0, 0, 0, 0.5);
}
.logo-container img {
    width: 90px;
    padding: 20px 0;
}
.logo-container h1 {
    font-size: 4rem;
}
.photo-credit {
     text-align: center;
     margin-bottom: 15px;
    font-size: 0.9rem;
}