* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}

.container {
display: flex;
min-height: 100vh;
}


.left-section 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    flex: 1;
    background-image: url('./images/backgroundimage.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    padding: 16px 0;

    background-color: rgba(0, 0, 0, 0.5);
}
.logo-container img {
    width: 90px;
    padding: 20px 0;
}
.logo-container h1 {
    font-size: 4rem;
}
.photo-credit {
     text-align: center;
     margin-bottom: 15px;
    font-size: 0.9rem;
}


.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
    flex: 2;
    background-color: #f9fafb;
}
.intro {
    max-width: 600px;
    font-size: 1.5rem;
    font-weight: bold;
   
}
.intro p {
    margin-bottom: 20px 0;
}
.form-section {
    background: white;
    margin: 0 -50px;      /* cancel the parent's horizontal padding */
    padding: 10px 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.form-columns {
    display: flex;
    gap: 70px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.form-group label {
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    /* margin-bottom: 5px; */
}

.form-group input {
    width: 280px;
    padding: 5px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: 1rem;
}
.action {
    padding: 30px 0;
}
button {
    background: #596D48;
    color: white;
    text-transform: capitalize;
    font-size: 1rem;
    border: none;
    padding: 16px 40px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: royalblue;
    box-shadow: 0 0 5px rgba(65,105,225,.3);
}
input:user-invalid {
    border: 1px solid red;
}


.login a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}
